{% extends 'base.html' %} {% block content %}
<h3>About</h3>
<div class="row">
    <div class="col s12 container-background">
        <p>
            <strong>Welcome to my RPG Character Creator for D&D 5e</strong>
        </p>
        <p>
            This project works to allow you to create and manage D&D Characters used within the 5e cmapaigns.
        </p>
        <p>
            You are able to create a new character by navigating to the Create Character button in the navbar menu above, edit them from the Home screen by clicking the Edit pencil, and delete them, but only once they have died in-game!
        </p>
        <p>
            <i>
                If you find you are having trouble deleting a character, please edit them and set the Death toggler to on, this will then allow you to delete them. All dead characters will have an <i class="fas fa-skull-crossbones"></i> icon next to their name in the Home screen. The remove icon should also be shown if this is the case.
            </i>
        </p>
        <p>
            All information presented is stored in a cloud based database known as MongoDB, if any problems appear that aren't resolvable within this website, please feel free to contact the developer of this project at <b><a style="color: black" href="mailto:bendoo12345@gmail.com">bendoo12345@gmail.com</a></b>
        </p>
        <p>
            I will gladly answer any questions sent through to this email also, so please feel free to contact me about design requests or for any help on getting started with this website.
        </p>
    </div>
</div>


{% endblock %}