{% extends 'base.html' %} {% block content %}
<h3>Add Character</h3>
<div class="row">
    <form action="{{ url_for('insert_character') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s5">
                <input id="first" name="firstName" type="text">
                <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s5 offset-s2">
                <input id="last" name="lastName" type="text">
                <label for="icon_prefix">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s5">
                <select id="class" name="class_name">
                <option value="" disabled selected>Choose Class</option>
                {% for class in classes %}
                    <option value="{{ class.class_name }}">{{ class.class_name }}</option>
                {% endfor %}
                </select>
                <label>Choose a class</label>
            </div>
            <div class="input-field col s5 offset-s2">
                <select id="race" name="race_name">
                <option value="" disabled selected>Choose Race</option>
                {% for race in races %}
                <option value="{{ race.race_name }}">{{ race.race_name }}</option>
                {% endfor %}
                </select>
                <label>Choose a race</label>
            </div>
        </div>

        <h4>Levels</h4>
        <p>Roll your ability scores. You have 6 Ability scores to roll for: Strength, Dexterity, Constitution, Intellect, and Wisdom. You can either roll 4 6-sided die and record the cumulative total of the highest 3 dice 6 times or take the “standard set” which is 15,14,13,12,10,8. You do not need to assign these scores yet, but you can if you want to.</p>
        <div class="row">
            <div class="input-field col s1 levels">
                <input id="strength" name="strength" type="text">
                <label for="icon_prefix">STR</label>
            </div>
            <div class="input-field col s1 offset-s1 levels">
                <input id="dexterity" name="dexterity" type="text">
                <label for="icon_prefix">DEX</label>
            </div>
            <div class="input-field col s1 offset-s1 levels">
                <input id="constitution" name="constitution" type="text">
                <label for="icon_prefix">CON</label>
            </div>
            <div class="input-field col s1 offset-s1 levels">
                <input id="intelligence" name="intelligence" type="text">
                <label for="icon_prefix">INT</label>
            </div>
            <div class="input-field col s1 offset-s1 levels">
                <input id="wisdom" name="wisdom" type="text">
                <label for="icon_prefix">WIS</label>
            </div>
            <div class="input-field col s1 offset-s1 levels">
                <input id="charisma" name="charisma" type="text">
                <label for="icon_prefix">CHA</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Character
            <i class="material-icons right">playlist_add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}